
/* Mixins
**********************/
@function calculateRem($size) {
	$remSize: $size / 16px;
	@return $remSize * 1rem;
}

@mixin font-size($size) {
	font-size: $size;
	line-height: $size * 1.4;
	font-size: calculateRem($size);
}

@mixin box-shadow {
	box-shadow: 2px 2px 4px 0 rgba($black,.10);
}

@mixin transition {
	transition: all 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
}