mixin search-box()
    .search-box&attributes(attributes)
        .search-box__control-container
            label.search-box__label Where 
            input(type="text").search-box__input
        .search-box__control-container
            label.search-box__label When
            select.search-box__select
                option option 01
                option option 02
                option option 03
        .button.button--primary Browse homes