mixin topbar()
    navbar.topbar&attributes(attributes)
        .topbar__logo-container 
            img.logo
        .topbar__menu-links 
            ul.menu-links 
                li.link-container
                    a.link
        .topbar__actions